/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: teal;
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 1rem;
  padding: 6rem;
  background-color: aliceblue;
}

input {
  width: 100%;
} */
